{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-regenerator",
    "transform-runtime"
  ]
}
