{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["import", "jsx-a11y", "react", "prettier"],
  "extends": [
    "plugin:import/errors",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "prettier/prettier": "error"
  }
}
