@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $baseFont;
  background: $bgMain;
  background-size: auto;
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
input,
textarea {
  color: $textBlack;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 15vh auto 50px;
  justify-items: center;
  align-items: center;
}

.page-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
