// colors
$bgMain: linear-gradient(#efefef, #fff);
$bgHeading: #34495e;
$textBlack: #333;
$btnDefault: #dfe6e9;
$btnGreen: #2ecc71;
$btnBlue: #3498db;
$inputBorder: #bdc3c7;

// fonts
$baseFont: 'PT Sans', sans-serif;
